<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.database.BoardMapper">

	<insert id="insertBoard"
			parameterType="Board">
		insert into tb_Board values(b_idx.nextval, #{b_title}, #{b_content}, #{b_file}, sysdate, #{m_id})
	</insert>
</mapper>