<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties resource="com/smhrd/database/db.properties"></properties>
	<typeAliases>
		<typeAlias type="com.smhrd.model.WebMemberDTO" alias="WebMember"/>
		<typeAlias type="com.smhrd.model.WebBoardDTO" alias="WebBoard"/>
		<typeAlias type="com.smhrd.model.tb_storeDTO" alias="Store"/>
		<typeAlias type="com.smhrd.model.tb_reviewDTO" alias="Review"/>
		<typeAlias type="com.smhrd.model.tb_wishlistDTO" alias="Wish"/>
		<typeAlias type="com.smhrd.model.tb_memberDTO" alias="tb_member"/>
		<typeAlias type="com.smhrd.model.tb_boardDTO" alias="tb_board"/>
		<typeAlias type="com.smhrd.model.tb_commentDTO" alias="tb_Comment"/>
	</typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${user}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="com/smhrd/database/WebMemberMapper.xml"/>
    <mapper resource="com/smhrd/database/WebBoardMapper.xml"/>
    <mapper resource="com/smhrd/database/StoreMapper.xml"/>
    <mapper resource="com/smhrd/database/ReviewMapper.xml"/>
    <mapper resource="com/smhrd/database/WishMapper.xml"/>
    <mapper resource="com/smhrd/database/memberMapper.xml"/>
    <mapper resource="com/smhrd/database/tb_BoardMapper.xml"/>
    <mapper resource="com/smhrd/database/tb_CommentMapper.xml"/>
  </mappers>
</configuration>