<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.database.ReviewMapper">
	
	<insert id="insertReview"
			parameterType="Review">
	
		insert into tb_review values(tb_review_seq.nextval, #{store_idx}, #{m_id}, #{review_service}, #{review_price}, #{review_clean}, #{review_content}, #{review_file}, sysdate)
	
	</insert>
	
	<select id="CountReview"
			parameterType="Review"
			resultType="int">
			
		SELECT COUNT(CASE WHEN STORE_IDX = #{store_idx} THEN 1 END) FROM TB_REVIEW
	
	</select>
	
	<!-- 가게별 평점 조회 -->
	<select id="SelectReviewData"
			parameterType="Review"
			resultType="Review">
		
		SELECT ROUND(AVG(TO_NUMBER(review_service)), 1), ROUND(AVG(TO_NUMBER(review_price)), 1), ROUND(AVG(TO_NUMBER(review_clean)), 1) FROM tb_review WHERE store_idx = #{store_idx}	
	
	</select>

	<!-- 이용자 성별 조회 -->
	<select id="SelectGenderData"
			parameterType="Review"
			resultType="Gender">
		
		SELECT COUNT(CASE WHEN m.m_gender = 'm' THEN 1 END) AS male, COUNT(CASE WHEN m.m_gender = 'w' THEN 1 END) AS female
		FROM TB_REVIEW r
		JOIN TB_MEMBER m ON r.m_id = m.m_id AND r.store_idx = #{store_idx}
	
	</select>
	
	<!-- 마이페이지 리뷰목록 sql - 이은화 강효석 -->
	<select id="reviewList" parameterType="String" resultType="Review">
		
		select * from TB_REVIEW where m_id = #{m_id}
	
	</select>
	
	<!-- 마이페이지 리뷰 날짜 메소드- 이은화 강효석 -->
	<select id="dateToChar" parameterType="String" resultType="Review">
		
		select to_char(sysdate,'YYYY-MM-DD') from tb_review where m_id = #{m_id}
	
	</select>
	
</mapper>